body {
    text-align: center;
    padding-top: 3.5rem;
    background-color:black;
}

h1 {
   
    color: orange;
    margin-left: 20px;
}

h2 {
   
    color: cyan;
}

p {
    color: cyan;
}

.jumbotron {
    background-color: darkblue;
}