body {
    text-align: center;
    padding-top: 3.5rem;
    background-color: #160c28;
}

h1 {
   
    color: #0496ff;
    margin-left: 20px;
}

h2 {
   
    color: #87bcde;
}

p {
    color: #c6d4ff;
}

.jumbotron {
    background-color: #00487c;
}

.fitscheme {
    color :#87bcde
}

.jumbotron2 {
    background-color: black
}

