body {
    text-align: center;
   
    background-color:teal;
}

h1 {
   
    color: orange;
    margin-left: 20px;
}

h2 {
   
    color: white;
}

p {
    color: white;
}

    * {
        box-sizing: border-box;
    }
    .column {
        float: left;
        width: 33.33%;
        padding: 50px;
        height: 300px;
    }
    .row {
        content: "";
        display: table;
        clear: both;
    }
    * {
        box-sizing: border-box;
    }
    .column {
        background-color: blue;
        float: left;
        width: 33.33%;
        padding: 50px;
        height: 300px;
    }
    .row {
        content: "";
        display: table;
        clear: both;
    }